### <font color='cian'>ENTREGA DE LA CONSIGNA #2 </font>

* NOMBRE: <font color='cian'>Maria Belen Areal</font>
* DNI: <font color='cian'>35.367.971</font>
* COMISIÓN: <font color='cian'>23678CaC - Big Data /Data Anlaytics</font>

<font color='cian'>Archivos complementarios en FILES > Mi Proyecto > c23678-MariaBelenAreal-TPIntegrador. Ahí se encuentran las capturas de pantalla y archivos .sql</font>

----------------------------------------

### Consignas #2:

1. Crear una carpeta con el nombre "**Mi proyecto**" para ir alojando los archivos que sean necesarios compartir como trazo de tu trabajo, alli deben ir los que generes según te sean solicitados. Podrás crear subcarpetas para mantener tus archivos en orden.

2. El nombre de tu proyecto se debe escribir de la siguiente forma **c236XX-nombre-apellido-TPintegrador**.

3. Para entregar el proyecto, es necesario compartirlo plenamente con tu instructor. Luego debes completar con tus datos y el link de tu deepnote en el siguiente [form](https://forms.gle/mfM7jCG2PHHCdzoT7).

Recuerda mantener actualizado tu Deepnote.

#### 1.- BBDD consultas básicas

Durante la **semana 5** (desde el 28/08/2023) hasta la **semana 6** (hasta el 10/09/2023), se deben cubrir los siguientes objetivos:

1. Conectar, al menos, **una** de las BBDD que se les han compartido <font color='red'>netflix.db</font> o <scan><font color='red'>netflix.sql</font></scan>. (esta decisión la tomarás de acuerdo al entorno de trabajo por el que hayas optado).

 <font color='cian'>1. Utilice netflix.db en SQLite</font>

----------------------------------------


2. Construir y completar una tabla como el siguiente modelo. Los textos en <font color='blue'>azul</font> debes sustuirlos por los que correspondan, según la BBDD que seleccionaste:
<center>
<table>
    <tr>
        <th colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px">Nombre de la BBDD </th>
        <td colspan="2", style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>BBDD seleccionada</font></td>
    </tr>
    <tr>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Tabla </th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Clave Primaria</th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Clave Foránea</th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Total de filas</th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Total de columnas</th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>Nombre de la tabla</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>Referencia si existe o indicar que no existe</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>Referencia si existe o indicar que no existe</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
</table></center></br>

 <font color='cian'>2. Contruí la tabla en python con la información que extraje de SQLite. En el caso de la cantidad de columnas realice un código en python para obtenerlo.</font>

In [63]:
### Import
import sqlite3
import pandas as pd

In [64]:
conexion = sqlite3.connect('netflix.db')
cursor = conexion.cursor()

tabla_info = cursor.execute("PRAGMA table_info(production)").fetchall()

numero_de_columnas = len(tabla_info)

conexion.close()

In [65]:
columns = pd.MultiIndex.from_tuples([
    ('Netflix.db', 'Tabla'),
    ('Netflix.db', 'Clave Primaria'),
    ('Netflix.db', 'Clave Foránea'),
    ('Production', 'Total de filas'),
    ('Production', 'Total de columnas')
])

df = pd.DataFrame(columns=columns)

df.loc[0] = ['production', 'id_production', 'id_content', 551, numero_de_columnas]

display(df)

   Netflix.db                                  Production
        Tabla Clave Primaria Clave Foránea Total de filas Total de columnas
0  production  id_production    id_content            551                 8

----------------------------------------

3. Construir y completar un cuadro **por cada tabla de la BBDD** según el siguiente modelo. Los textos en <font color='blue'>azul</font> debes sustuirlos por los textos que correspondan, según la BBDD que hayas seleccionado:
<center>
<table>
    <tr>
        <td > </td>
        <th colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px">Nombre de la BBDD y su tabla</th>
        <td colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>nombreBBDD.NombreTabla</font></td>
    </tr>
    <tr>
        <td > </td>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>Nombre columna 1</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>Nombre columna n</font></th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">No nulos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Vacíos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Nulos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px">Distintos</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>...</font></td>
    </tr>
</table></center></br>

 <font color='cian'>3. Recorro para todas las columnas la tabla y obtengo la cantidad de valores pedidos. Luego construyo una tabla con dicha información y le doy el formato solicitado.</font>

In [75]:
conexion = sqlite3.connect('netflix.db')

columnas = ['id_production', 'id_content', 'title_production', 'genre', 'premiere', 'runtime', 'imdb_score', 'language']

resultados = pd.DataFrame(columns=['Columna', 'NotNull', 'Vacios', 'Null', 'ValoresDistintos'])

for columna in columnas:
    query_notnull = f"SELECT COUNT(*) FROM production WHERE {columna} IS NOT NULL;"
    query_vacios = f"SELECT COUNT(*) FROM production WHERE {columna} = '';"
    query_null = f"SELECT COUNT(*) FROM production WHERE {columna} = '';"
    query_valores_distintos = f"SELECT COUNT(DISTINCT {columna}) FROM production;"
    
    notnull_count = conexion.execute(query_notnull).fetchone()[0]
    vacios_count = conexion.execute(query_vacios).fetchone()[0]
    null_count = conexion.execute(query_null).fetchone()[0]
    valores_distintos = conexion.execute(query_valores_distintos).fetchone()[0]
    
    resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count, 
    'Null': null_count, 'ValoresDistintos': valores_distintos}, ignore_index=True)

conexion.close()

resultados.rename(columns={'Columna': 'Netflix - production'}, inplace=True)
resultados.set_index('Netflix - production', inplace=True)
resultados_transpose = resultados.transpose()

display(resultados_transpose)

/tmp/ipykernel_223222/1648500932.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_223222/1648500932.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_223222/1648500932.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_223222/1648500932.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_223222/1648500932.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_223222/1648500932.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_223222/1648500932.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,
/tmp/ipykernel_223222/1648500932.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultados = resultados.append({'Columna': columna, 'NotNull': notnull_count, 'Vacios': vacios_count,

Netflix - production,id_production,id_content,title_production,genre,premiere,runtime,imdb_score,language
NotNull,551,551,551,551,551,551,551,551
Vacios,0,0,0,0,0,0,0,0
Null,0,0,0,0,0,0,0,0
ValoresDistintos,551,551,551,110,370,118,52,37


4. Realizar las siguientes consultas sobre una sola tabla. Los nombres de las columnas deben mostrarse en español:

    <b>A.</b>  Listar todos los registros de la tabla, visualizando las columnas type, title_content, country, rating, duration, listed_in. 

    <b>B.</b>  Mostrar todas las filas de la tabla, presentando las columnas id_content, title_production, genre, runtime, imdb_Score.

    <b>C.</b>  Generar un listado de todas las películas en las que participe Argentina, mostrando las columnas id_content, type, title_content, director, cast, rating, duration, listed_in.
    
    <b>D.</b>  Presentar un listado con las columnas id_production, title_production, genre, language, imdb_score de los registros de la tabla en las que el imdb_score sea superior a 7.5.
    
    <b>E.</b>  Mostrar las columnas id_content, type, title_content, listed_in de los registros en los que el rating público general o admitido para todas las edades. 
    
    <b>F.</b>  Obtener una lista con las columnas id_production, title_production, genre de los registros en que runtime sea menor o igual a 105 minutos pero que además sea de al menos 60 minutos.
    
    <b>G.</b>  Obtener la cantidad de registros discriminando por type y rating, ordenados alfabéticamente por rating y por type.
    
    <b>H.</b>  Mostrar la cantidad  de películas en los idiomas portugués, francés, alemán, italiano y español, ordenados por cantidad, de mayor a menor.

<font color='cian'>4. Este ítem lo pude correr directamente en DB Browser for SQLite (ya que lo realice desde la notebook de mi trabajo a diferencia de los otros puntos, ya que en mi notebook principal no me funcionó este programa).</font>

In [96]:
conexion = sqlite3.connect('netflix.db')

cursor = conexion.cursor()


sentencia_create_nueva_tabla = """
CREATE TABLE production_new (
  id_produccion INTEGER PRIMARY KEY AUTOINCREMENT,
  id_contenido INTEGER DEFAULT NULL,
  titulo_produccion VARCHAR(50) DEFAULT NULL,
  genero VARCHAR(50) DEFAULT NULL,
  estreno VARCHAR(50) DEFAULT NULL,
  duracion INTEGER DEFAULT NULL,
  puntuacion_imdb REAL DEFAULT NULL,
  idioma VARCHAR(50) DEFAULT NULL
);
"""

cursor.execute(sentencia_create_nueva_tabla)

sentencia_copiar_datos = "INSERT INTO production_new SELECT * FROM production"
cursor.execute(sentencia_copiar_datos)

# sentencia_eliminar_tabla_original = "DROP TABLE production"
# cursor.execute(sentencia_eliminar_tabla_original)
# sentencia_renombrar_tabla = "ALTER TABLE production_new RENAME TO production"
# cursor.execute(sentencia_renombrar_tabla)

tabla_info_new = cursor.execute("PRAGMA table_info(production_new)").fetchall()

conexion.commit()
conexion.close()

display(tabla_info_new)

[(0, 'id_produccion', 'INTEGER', 0, None, 1),
 (1, 'id_contenido', 'INTEGER', 0, 'NULL', 0),
 (2, 'titulo_produccion', 'VARCHAR(50)', 0, 'NULL', 0),
 (3, 'genero', 'VARCHAR(50)', 0, 'NULL', 0),
 (4, 'estreno', 'VARCHAR(50)', 0, 'NULL', 0),
 (5, 'duracion', 'INTEGER', 0, 'NULL', 0),
 (6, 'puntuacion_imdb', 'REAL', 0, 'NULL', 0),
 (7, 'idioma', 'VARCHAR(50)', 0, 'NULL', 0)]

<font color='cian'> Código en DB Browser </font>

In [ ]:
-- SELECT * FROM production

-- A
SELECT type AS Tipo, title_content AS Título, country AS País, rating AS Clasificación, duration AS Duración, listed_in AS Categoría
FROM content;

-- B
SELECT id_content AS ID_contenido, title_production AS Título, genre AS Género, runtime AS Duración, imdb_score AS Puntuación_IMDB
FROM production´;

-- C   (No me funcionó)
SELECT id_content AS ID_contenido, type AS Tipo, title_content AS Título, director AS Director, cast AS Reparto, rating AS Clasificación, duration AS Duración, listed_in AS Categoría
FROM content
WHERE country LIKE '%Argentina%';

-- D
SELECT id_production AS ID, title_production AS Título, genre AS Género, language AS Idioma, imdb_score AS Puntuación_IMDB
FROM production
WHERE imdb_score > 7.5;

-- E
SELECT id_content AS ID, type AS Tipo, title_content AS Título, listed_in AS Categoría
FROM content
WHERE rating = 'TV-Y' OR rating = 'TV-Y7' OR rating = 'TV-G' OR rating = 'G';

-- F
SELECT id_production AS ID, title_production AS Título, genre AS Género
FROM production
WHERE runtime <= 105 AND runtime >= 60;

-- G
SELECT type AS Tipo, rating AS Clasificación, COUNT(*) AS Cantidad
FROM content
GROUP BY type, rating
ORDER BY rating, type;

--H
SELECT language AS Idioma, COUNT(*) AS Cantidad
FROM production
WHERE language IN ('Portuguese', 'French', 'German', 'Italian', 'Spanish')
GROUP BY language
ORDER BY Cantidad DESC;

5. Documentar todo lo anterior en DEEPNOTE:
    * Crea las tablas para los puntos 2 y 3. 
    * Pega los códigos de las queries del punto 4 y agrega una captura de pantalla de la ejecución en el Administrador de BBDD, que incluya la barra de tareas de tu sistema operativo.

<font color='cian'>5. Las tablas están incluidas en este archivo. Las capturas de pantalla y archivos .sql complementarios se ecuentran en FILES > Mi Proyecto > c23678-MariaBelenAreal-TPIntegrador del deepnote.</font>